.grid {
    --gridCols: 1;
    display: grid;
    grid-gap: var(--spacing-md);
    grid-template-columns: repeat(var(--gridCols), 1fr);
}

@media (min-width: 640px) {
    .grid {
        --gridCols: 2;
        grid-template-columns: repeat(var(--gridCols), 1fr);
    }
}

@media (min-width: 768px) {
    .grid {
        --gridCols: 3;
        grid-template-columns: repeat(var(--gridCols), 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        --gridCols: 4;
        grid-template-columns: repeat(var(--gridCols), 1fr);
    }
}

@media (min-width: 1280px) {
    .grid {
        --gridCols: 5;
        grid-template-columns: repeat(var(--gridCols), 1fr);
    }
}

@media (min-width: 1440px) {
    .grid {
        --gridCols: 6;
        grid-template-columns: repeat(var(--gridCols), 1fr);
    }
}

@media (min-width: 1920px) {
    .grid {
        --gridCols: 7;
        grid-template-columns: repeat(var(--gridCols), 1fr);
    }
}

@media (min-width: 2560px) {
    .grid {
        --gridCols: 9;
        grid-template-columns: repeat(var(--gridCols), 1fr);
    }
}
