.grid {
    --gridCols: 1;
    display: grid;
    grid-gap: var(--spacing-md);
    grid-template-columns: repeat(var(--gridCols), 1fr);
}

@media (min-width: 768px) {
    .grid {
        --gridCols: 3;
        grid-template-columns: repeat(var(--gridCols), 1fr);
    }
}

@media (min-width: 1024px) {
    .grid {
        --gridCols: 4;
        grid-template-columns: repeat(var(--gridCols), 1fr);
    }
}
