@import url('https://fonts.googleapis.com/css?family=Rubik:400|Karla:400');

:root {
    /* Define Colors as colors */
    --black: #010101;
    --grey: #72757e;
    --green: #2cb67d;
    --lightGrey: #94a1b2;
    --lightBlack: #242629;
    --purple: #7f5af0;
    --red: #ff5470;
    --white: #fffffe;

    /* Define Colors intentions */
    --primary: var(--green);
    --danger: var(--red);
    --background: var(--lightBlack);
    --textColor: var(--lightGrey);
    --buttonTextColor: var(--white);
    --lineColor: var(--black);
    --headerBackground: var(--black);
    --headerColor: var(--white);
    --paragraphText: var(--lightGrey);

    /* Styles */
    --line: solid 1px var(--lineColor);

    /* Type */
    --headingFont: 'Rubik', sans-serif;
    --bodyFont: 'Karla', sans-serif;
    --baseFontSize: 100%;
    --h1: 3.052em;
    --h2: 2.441em;
    --h3: 1.953em;
    --h4: 1.563em;
    --h5: 1.25em;
    --smallText: 0.8em;

    /* Elevation */
    --level-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --level-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --level-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --level-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);

    /* Positioning */
    --containerPadding: 2.5%;
    --headerHeight: 3rem;
    --borderRadius: 5px;

    /* Spacing */
    --spacing-none: 0;
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xlg: 4rem;
    --spacing-xxlg: 8rem;
    --spacing-xxxlg: 16rem;
}

/* FROM Type Scale */

html {
    font-size: var(--baseFontSize);
    box-sizing: border-box;
} /*18px*/

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.65;
    background: var(--background);
    color: var(--textColor);
}

header {
    color: var(--headerColor);
}

footer {
    --footerTextColor: var(--lightGrey);
    color: var(--footerTextColor);
    background: var(--footerBackground);
    padding: 2rem var(--containerPadding);
    text-align: center;
}

footer a {
    color: var(--footerTextColor);
}

footer p {
    margin-bottom: 0;
    max-width: none;
}

p {
    margin-bottom: 1.15rem;
    max-width: 40em;
}

p a,
blockquote a {
    color: var(--paragraphText);
    text-decoration: none;
    border-bottom: solid 2px var(--primary);
}

h1,
h2,
h3,
h4,
h5 {
    margin: 2.75rem 0 1.05rem;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1.15;
    color: var(--headerColor);
}

h1 {
    margin-top: 0;
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

small,
.text_small {
    font-size: var(--smallText);
}

/* End typescale */
blockquote {
    margin: 10px;
    padding: 2em;
    background: var(--cardBg);
    box-shadow: var(--level-3);
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

label {
    display: block;
    font-size: var(--smallText);
}

textarea {
    width: 100%;
    height: 5rem;
}

::placeholder {
    color: var(--grey);
}

select {
    border: var(--line);
    border-radius: var(--borderRadius);
    width: 100%;
    padding: var(--spacing-xs);
}

hr {
    border-top: var(--line);
}

button {
    --buttonColor: var(--primary);
    appearance: none;
    color: var(--buttonTextColor);
    background-color: var(--buttonColor);
    border: none;
    border-radius: 10px;
    padding: var(--spacing-sm) 25px;
    box-shadow: var(--level-1);
    cursor: pointer;
    transition: 0.3s ease-in-out box-shadow;
}

button:hover {
    box-shadow: var(--level-3);
}

button[disabled] {
    opacity: 0.4;
}

button.cancel {
    --buttonColor: var(--danger);
}

button.secorndary {
    --buttonColor: var(--white);
    --buttonTextColor: var(--black);
}

button.small {
    font-size: var(--smallText);
}

.layout {
    padding: var(--containerPadding);
}

.logo {
    font-size: var(--baseFontSize);
    margin: 0;
}

.logo a {
    cursor: pointer;
}

.tc {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.badge {
    background-color: var(--purple);
    border-radius: var(--spacing-xs);
    color: var(--white);
    cursor: pointer;
    padding: var(--spacing-xs) var(--spacing-sm);
}

.flex {
    --justifyContent: space-between;
    display: block;
    justify-content: var(--justifyContent);
}

.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 100%;
    padding: var(--spacing-sm) var(--spacing-sm);
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 110%;
    width: 100%;
    border: 1px solid #aaa;
    background-color: var(--white);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: var(--spacing-xs) var(--spacing-sm);
}

.react-autosuggest__suggestion--highlighted {
    background-color: var(--black);
    color: var(--white);
}

@media only screen and (min-width: 500px) {
    :root {
        --baseFontSize: 112.5%;
    }
    .flex {
        display: flex;
    }
}
