.badge {
    align-items: center;
    border-radius: 1rem;
    border: none;
    display: flex;
    font-size: var(--smallText);
    justify-content: center;
    padding: var(--spacing-sm);
    text-align: center;
    width: 6rem;
}

.action {
    background-color: #e7040f;
    color: #fff;
}

.fantasy {
    background-color: #137752;
    color: #fff;
}

.kids {
    background-color: #357edd;
    color: #fff;
}

.science-fiction {
    background-color: #001b44;
    color: #fff;
}

.comedy {
    background-color: #5e2ca5;
    color: #fff;
}

.horror {
    background-color: #111111;
    color: #fff;
}
